<!--  <nav>
    <div class="nav-wrapper">
      <a href="#/" class="brand-logo">Stay Creative</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Login</li>
        <li>Register</li>
      </ul>
    </div>
  </nav> -->


<div>
  <a href="#/">NAVIGATION BAR *** Stay Creative</a>
  <ul>
    <li>Login</li>
    <li>Register</li>
  </ul>
  <ul>
    <li ng-repeat="page in pages"><a href="#/static_page/{{ pages.indexOf(page) }}">{{ page.title }}</a></li>
  </ul>
  <hr />
</div>

