<div class="row">
  <div class="col s12 m6">
    <h1>About Stay Creative</h1>
    It is a journal and a diary. An exercise of daily creativity.<br />
    Train your storytelling skills. Great for writers, designers, and any humans.<br/>
    Create a fictional character, with a short bio and an invention every day.<br />
    Draw a picture of the character or take a picture of someone who represents and looks exactly like your character and upload it.<br />
    At the end you will have a wide and fun collection of characters.<br />
    Eventually -as soon as I get it to work- you will be able to export the posts in PDF and send the file to your friends, upload it on your e-reader, or even print it in paper, xerox it and turn it into a fanzine.<br />
  </div>
</div>
