<div class="row">
  <div class="col s12 m6">
    <h1>Welcome to Stay Creative</h1>
    It is a journal and a diary.<br />
    Train your storytelling skills. Great for writers, designers, and any humans.<br/>
    An exercise of daily creativity. <br />
    Create a fictional character, with a short bio and an invention EVERY DAY for an amount of time that you decide.<br />
    Draw a picture of the character or take a picture of someone who represents and looks exatly like your character and upload it.<br />
    At the end you will have a wide collection of characters.<br />
    You can export in PDF and send to your friends, upload on your e-reader, or print it in paper, xerox and turn it into a fanzine.<br />
  </div>
</div>
