<h5>Edit post</h5>
<form name="updatePostForm" class="col s12" novalidate>
  <div class="input-field col s6">
    <label for="characterName" class="active">Character Name</label>
    <input type="text" name="characterName" ng-model="myPostsCtrl.onePost.characterName" required /><br />
  </div>
  <div class="input-field col s6">
    <textarea name="characterBio" ng-model="myPostsCtrl.onePost.characterBio" required class="materialize-textarea"></textarea>
    <label for="characterBio" class="active">Character Bio</label>
  </div>
  <div class="input-field col s6">
    <textarea name="invention" ng-model="myPostsCtrl.onePost.invention" required class="materialize-textarea"></textarea>
    <label for="invention" class="active">Invention</label>
  </div>
  <button class="waves-effect waves-light btn" ng-click="updatePostForm.$valid && myPostsCtrl.updatePost(myPostsCtrl.onePost._id, myPostsCtrl.onePost)">Update post</button>
</form>





