  <h4>All my posts</h4>
  <!-- Search: <input type="search" ng-model="search" placeholder="Search..."> -->
  <h3 ng-show="myPostsCtrl.myPosts.error">{{myPostsCtrl.myPosts.error}}</h3>

  <!-- <div ng-repeat="post in myPostsCtrl.myPosts | orderBy:'postedDate':!reverse | filter:search"> -->
  <div ng-hide="myPostsCtrl.myPosts.error" ng-repeat="post in myPostsCtrl.myPosts  | orderBy:'postedDate':!reverse" >
    <ul>
      <li><h5>Character name: {{post.characterName}}</h5></li>
      <li>Character bio: {{post.characterBio}}</li>
      <li>Invention: {{post.invention}}</li>
      <li>Character picture: <img ng-src="{{post.characterPhotoUrl}}"></li>
      <li>Posted on: {{post.postedDate | date:'medium' }}</li>
      <li ng-hide="!post.editedDate">Edited on: {{post.editedDate | date:'medium' }}</li>
    </ul>
    <a href="#myposts/{{post._id}}">Continue reading</a>

    <hr />
  </div>

<!-- FIX THE SEARCH BAR -->
