  <div>
    <ul>
      <li><h5>Character name: {{ myPostsCtrl.onePost.characterName }}</h5></li>
      <li>Character bio: {{ myPostsCtrl.onePost.characterBio }}</li>
      <li>Invention: {{ myPostsCtrl.onePost.invention }}</li>
      <li>Character picture: <br/><img ng-src="{{myPostsCtrl.onePost.characterPhotoUrl}}"></li>
      <li>Posted on: {{ myPostsCtrl.onePost.postedDate | date:'medium'}}</li>
      <li ng-hide="!myPostsCtrl.onePost.editedDate">Edited on: {{ myPostsCtrl.onePost.editedDate | date:'medium' }}</li>
    </ul>
    <a href="#list">Back to my Posts</a>
    <button ng-click="myPostsCtrl.editPost(myPostsCtrl.onePost._id)">Edit Post</button>
    <button ng-click="myPostsCtrl.deletePost(myPostsCtrl.onePost._id)">Delete Post</button>

  </div>


<!-- ADD ARE YOU SURE YOU WANT TO DELETE -->

