  <h1>One post by :id</h1>

  <div>
    <ul>
      <li>Character name: {{ myPostsCtrl.onepost.characterName }}</li>

      <li>Character bio: {{ myPostsCtrl.onepost.characterBio }}</li>
      <li><img ng-src="{{ myPostsCtrl.onepost.characterPhotoUrl }}" /></li>
      <li>Invention: {{ myPostsCtrl.onepost.invention }}</li>
      <li>Song: {{ myPostsCtrl.onepost.songUrl }}</li>
      <li>Posted on: {{ myPostsCtrl.onepost.postedDate | date }}</li>
      <li>If edited... edited on: {{ myPostsCtrl.onepost.editedDate | date }}</li>
    </ul>
    <button>Edit Post</button>
  </div>
