<h5>New post entry</h5>
<form name="newPostForm" class="col s12" novalidate>
  <div class="input-field col s6">
    <label for="characterName">Character Name</label>
    <input type="text" name="characterName" ng-model="myPostsCtrl.newPost.characterName" required />
  </div>
  <div class="input-field col s6">
    <textarea name="characterBio" ng-model="myPostsCtrl.newPost.characterBio" required class="materialize-textarea"></textarea>
    <label for="characterBio">Character Bio</label>
  </div>
  <div class="input-field col s6">
    <textarea name="invention" ng-model="myPostsCtrl.newPost.invention" required class="materialize-textarea"></textarea>
    <label for="invention">Invention</label>
  </div>
  <!-- <div class="file-field input-field">
    <div class="waves-effect waves-light btn">
      <span>File Upload</span>
      <input type="file" onchange="angular.element(this).scope().myPostsCtrl.uploadFile(this)">
      <div id="info">
        <div id="link">
      </div>
      <div id="imagePreview"></div>
    </div>
  </div> -->

  <input type="file" onchange="angular.element(this).scope().myPostsCtrl.uploadFile(this)">
    <div id="info">
      <div id="link">
    </div>
  <div id="imagePreview"></div>

  <button class="waves-effect waves-light btn" ng-click="newPostForm.$valid && myPostsCtrl.addPost()">Submit post</button>
</form>

