<h5>New post entry</h5>
<form name="newPostForm" class="col s12" novalidate>
  <div class="input-field col s6">
    <label for="characterName">Character Name</label>
    <input type="text" name="characterName" ng-model="myPostsCtrl.newPost.characterName" required /><br />
  </div>
  <div class="input-field col s6">
    <textarea name="characterBio" ng-model="myPostsCtrl.newPost.characterBio" required class="materialize-textarea"></textarea>
    <label for="characterBio">Character Bio</label>
  </div>
  <div class="input-field col s6">
    <textarea name="invention" ng-model="myPostsCtrl.newPost.invention" required class="materialize-textarea"></textarea>
    <label for="invention">Invention</label>
  </div>
  <button ng-click="newPostForm.$valid && myPostsCtrl.addPost()">Submit post</button>
</form>

<!-- characterPhotoUrl below -->
<form action="#">
  <div class="file-field input-field">
    <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Picture Upload</span>
        <input type="file" />
      </div>
    </div>
</form>


<br />
<br />
<br />
<hr />

TEMPORARY BINDING<br />
To make sure this is working<br />
Results: <br />
{{myPostsCtrl.newPost.characterName}}<br />
{{myPostsCtrl.newPost.characterBio}}<br />
{{myPostsCtrl.newPost.invention}}<br />

