<div>
  <h1>Welcome to Stay Creative!</h1>
  <div class="persona">
    <img src="images/persona.png" alt="character" />
  </div>
  <div class="bubbles">
    <p class="triangle-isosceles left">Hello! My name is Andreina</p>
    <p class="triangle-isosceles left">I was born in San Francisco.<br />
    I cultivate organic scallions. <br />
    I was California crochet champion in 1999.</p>
  </div>
  <div class="invention-bubble">
    <p class="triangle-isosceles left">I invented the "spoon paddle boarding". It is a new rowing technique with a paddle that resembles a spoon.<br />
    If you happen to meet an alligator, you can feed him some food, other than yourself. <br />
    It works!</p>
  </div>
</div>
