$light-blue-lighten1 = #29b6f6
$lime = #cddc39
$light-blue-lighten4 = #b3e5fc

nav
  background-color: $light-blue-lighten1

footer.page-footer
  background-color: $light-blue-lighten1

.btn
  background-color: $lime
  &:hover
    background-color: $light-blue-lighten4

p.img-card
  text-align: center

a
  color: $lime
